:root{
  --progress: 10%;
}
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Courier New", Courier, monospace;
  background-color: lavender;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
.resultBar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 35px;
  border-radius: 199px;
  background: white;
}
img {
  width: 120px;
  height: 90px;
}
.img {
   position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
  width:100px;
  height:100px;
  z-index: 99;
   top: 15px;
  
  border-radius: 50%;
  margin-top: 30px;
  /* background: white; */
}
.nbre_question{
  font-size: 24px;
  font-weight: 700;
}
i{
font-size: 25px;
color: rgb(229, 229, 28);

}
  #progressBar{ 
   /* display: flex;
  justify-content: center;  */
  position: relative;
  width: 18rem;
  height: 15px;
  /* border: 2px solid #00aeff; */
  border-radius: 99px;
  background: rgb(221, 202, 235);
} 

#progressBar::after{
  /* content: 'attr(data-progress)'; */
  content: '';
  position: absolute;
  width:var(--progress);
  max-width: 100%;
  height: 15px;
  background: linear-gradient(126deg, rgba(86, 69, 185, 1) 10%, rgba(228, 117, 181, 0.9925012241224614) 94%);
  border-radius: 99px;
}

.quiz-container {
  /* background-color: #FFF; */
  width: 100%;
  height: min-content;
  border-radius: 15px;
  /* box-shadow: 3px 2px 19px -6px rgba(0, 0, 0, 0.75); */
  /* padding: 10px; */
}

.quiz-score {
  display: none;
  text-align: center;
}

.question {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  /* padding-bottom: 10px; */

}

.answer-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* button::before{
  content:"a";
  width:100px;
  height: 100px;
  border: 1px solid black;
} */

.answer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 50%;
  padding: 10px;
  box-sizing: border-box;
}

.answer-item button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #545E75;
}

.answer-item button {
  /* background: #F4E04D; */
  color: #000000;
}

.answer-item button:focus {
  outline: none;
}

@media all and (max-width: 480px) {
  .answer-list {
    display: block;
  }

  .answer-validate{
    /* display: none; */
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(126deg, rgba(86, 69, 185, 1) 10%, rgba(228, 117, 181, 0.9925012241224614) 94%);
    width: 50%;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    margin: 27px auto 0px;
  
  }

  .answer-item button {
    /* background: linear-gradient(126deg, rgba(86,69,185,1) 10%, rgba(228,117,181,0.9925012241224614) 94%); */
    background: white;
    color: black;
    font-weight: 900;
    font-size: larger;
    border: none;
    border-radius:10px;
    height: 60px;
  }

  .answer-item button:hover {
    color: white;
    background: linear-gradient(126deg, rgba(86, 69, 185, 1) 10%, rgba(228, 117, 181, 0.9925012241224614) 94%);
  }

  .answer-item {
    padding: 0;
    margin: 10px 40px;
    box-shadow: 10px 11px 15px -3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
  }
  button:hover{
    border: 1px solid white;
  }
  
     div.button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* content: "B"; */
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin-right:60px;
    margin-left: 10px;
    border-radius: 50px;
  } 
  div.button:hover{
    border: 1px solid white;
  }
  
  /* button:nth-child(3)::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: "B";
    width: 40px;
    height: 40px;
    background: RED;
    border: 1px solid black;
    margin-right:100px;
    margin-left: 10px;
    border-radius: 50px;
  }   */
  /* button{
      border-radius: 10px;
    } */
  .quiz-container {
    background-color: lavender;
    box-shadow: none;
    margin-top: 25px;
  }

  .quiz-score {
    display: none;
    background: linear-gradient(126deg, rgba(86, 69, 185, 1) 10%, rgba(228, 117, 181, 0.9925012241224614) 94%);
    box-shadow: 10px 11px 15px -3px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    /* width: 100%; */
    height: 40px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    padding-top: 10px;
    margin: 0 16px;
  }
}